# Java
# ----
*.class
*.jar
*.orig

target/
classes/
.metadata/
.idea/


# Python
# ------
*.pyc

# NetBeans
# --------
nb-configuration.xml
nbactions.xml

# Eclipse
# -------
.cproject
.project
.pydevproject
.settings
.classpath
.MySCMServerInfo
*.iml

# Misc. files
# -----------
# *.log

# Tests
# -----
SmaWeb/test-output/
TasksFramework/test-output/
*.epoch

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
